agm-map {
  height: 400px;
}

.container{
  margin-top: 20px;  
  text-align: center;
}

.nav-link{
  color: #ffffff;
}

.nav-link:hover{
  color: #000000;
  background-color: #ffffff;
}

.vehiclesTitle{
  margin-top: 10px;
  margin: 10px 0 10px 28px;
  font-size: 19px;
  font-weight: bold;
}

