<ng-sidebar-container style="height: 100vh;">

  <ng-sidebar [(opened)]="opened" position="left">

    <ul class="nav flex-column">
      <li class="nav-item">
        <button type="button" class="btn btn-danger btn-sm float-right" (click)="closeSidebar()">X</button>
        <p class="d-inline-block vehiclesTitle">Vehicles</p>
      </li>
      <li class="nav-item" *ngFor="let vehicle of vehicles; let i = index">
        <a class="nav-link" (click)="placeMarker(i)" href="#">{{vehicle.plate}}</a>
      </li>
    </ul>

  </ng-sidebar>

  <div ng-sidebar-content>

    <div class="container">

      <div class="row">
        <div class="col-2">
          <button type="button" class="btn btn-primary btn-sm" (click)="openSidebar()">---</button>
        </div>
        <div class="col-10">
          <h3>{{title}}</h3>
        </div>
      </div>

      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" *ngIf="vehicleChosen">
        <agm-marker *ngIf="position" [latitude]="lat" [longitude]="lng">
          <agm-info-window>{{vehicleChosen.plate}}</agm-info-window>
        </agm-marker>
        <agm-direction [origin]="origin" [destination]="destination">
        </agm-direction>
      </agm-map>

      <div *ngIf="!vehicleChosen">
        <img src="assets/crozzLogo.png" alt="" width="55%">
      </div>

    </div>

  </div>

</ng-sidebar-container>